@import 'reset';
@import 'config';
@import 'header';
@import 'burger';
@import 'nav';
@import 'intro';
@import 'grid';
@import 'review';
@import 'galery';
@import 'footer';

body {
    font-size: 18px;
    font-family: $font-text;
    background-color: $white;
}

.burger.active + .nav {
    display: flex;
}